main > .container {
    padding: 60px 15px 0;
}

  
body {
    background-color:#E8F1F2;
}

.navbar {
    background-color: #13293d;
}

.main-parragraph {
    color: #E8F1F2;
    background-color:#247BA0;
    padding-top: 20px;
    margin: 20px 0;
}

.main-form {
    padding: 20px;
    margin: 20px 0;
}

#info-text-result {
    margin: 40% auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #13293d;
    color: white;
} 